<div>
    <h1>User Profile</h1>
    <form action="/getTweets" method="get">
        <input type="hidden" name="email" value={{email}}>
        <input value="My Tweets" type="submit"/>
    </form>

    <form action="/displayUserDetails" method="get">
        <input type="hidden" name="email" value={{email}}>
        <input value="All Users" type="submit"/>
    </form>
</div>