<div>
    <h> List of tweets for the user {{name}}</h>
    {{#tweets}}
        <p>{{tweet}}</p>
    {{/tweets}}

    <form action="tweetNew" method="post">
        <h1>Create a new Tweet</h1>
        <textarea rows="3" cols="25" name="tweet"></textarea>
        <input type="hidden" name="email" value={{email}}>
        <input type="submit" value="Create Tweet">
    </form>
    <form action=""></form>
</div>