<div>
    {{#users}}
        <h2>USER</h2>
        <h3>name: &nbsp;{{name}}</h3>
        <h3>email: &nbsp;{{email}}</h3>
        {{#allowed}}
            <form action="followUser" method="post">
                <input type="hidden" name="userEmail" value={{userEmail}}>
                <input type="hidden" name="friendEmail" value={{email}}>
                <input type="submit" value="Follow">
            </form>
        {{/allowed}}
    {{/users}}
</div>